{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "printWidth": 80,
  "trailingComma": "all",
  "tailwindConfig": "./packages/tailwind",
  "arrowParens": "always",
  "jsxSingleQuote": true,
  "semi": true,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    ""
  ]
}
